* {
	font-family: 'Arial', sans-serif
}

body {
	background-image: url("../images/background.png");
	font-size: 1.5em;
	color: #8c8c8c;
}

p {
	padding: 20px 20px 20px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: 'Georgia', serif;
}

h1 {
	color: #fff;
}

h2, h3 {
	color: #4aaaa5;
}

a:hover {
	text-decoration: none;
}


/*     Navigation     */
.navbar {
	padding: 30px;
	margin: 0;
}

.navbar-default {
	background-image: none;
	background-color: #4aaaa5;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 1.25em;
	margin-top: 20px;
    margin-bottom: 10px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #d6d6d6;
}

.navbar-toggle {
    background-color: #4ca39e; 
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

/*    Main Content     */
.main-content {
	background-color: #fff;
	width: 80%;
	padding: 40px;
	overflow: auto;
	margin-top: 20px;
}

.img-thumbnail {
	margin-right: 20px;
	margin-bottom: 10px;
}


/*     Sidebar     */
.panel-default {
	background-color: rgba(178, 178, 178, 0.4);
}

.panel-body {
	padding: 0 20px 20px 20px;
}

.social-icons {
	width: 75px;
}

/*     Form Styles     */
.btn-default {
    color: #fff;
    background-color: #4aaaa5;
    border-color: #ccc;
    margin-bottom: 20px;
    padding: 10px 30px;
    background-image: none;
}

.form-container {
	width: 90%;
}


/*     Portfolio     */
.img-responsive {
	margin-bottom: 20px;
}

.caption {
	position: absolute;
    top: 45%;
    left: 0;
}


.caption h3 {
	color: #fff;
	background-color: #4aaaa5;
	padding: 20px 0;
	width: 100%;
	max-width: 412px;
}

/*     Footer     */
.footer {
	background-color: #666666;
	text-align: center;
	color: #cccccc;
	font-size: .8em;
	padding-top: 50px;
	border-top: 10px solid #4aaaa5;
}

/*     Sticky Footer     */
.push,
.footer {
	height: 125px;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -125px;
	margin: 0 auto;
}










